:root {
  --amesface-color: #8073FF,
  --greenful-color: #D4FF7A,
  --bluenivers-color: #00123A,
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #8073FF;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

tr.trContent:hover {
  cursor: pointer;
}

td {
  color: #555;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.action-btns {
  display: flex;
  gap: 10px;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  padding: 8px;
  font-size: 14px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#detailsTable {
  display: none;
}

.back-btn {
  /* margin-top: 20px; */
  display: inline-block;
  background-color: #8073ff;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #8073ff;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}